// OK Computer,
// Import the stylesheet that changes the default styles of some selectors
@import 'fix.scss';
// Write the main styles for our website

.body {
    font-size: 18px;
}
// Set some styling for the logo
.logo {
    line-height: 1rem;
}

.logo__tagline {
    font-weight: normal;
    font-size: 1rem;
}

// Set some basic styling for articles to look better by default
article {
    font-family: Georgia, serif;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 35rem;
    margin: auto;
}

p {
    margin-bottom: 1rem;
}