// OK Computer,
// we need to import partials to follow a modular sass structure
@import 'text';

// We need to write our main Sass
html {
	font-size: 16px;
}

body {	
	background-color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
}

a {
	color: rgba(0, 106, 238, 1);
	text-decoration-color: rgba(0, 106, 238, 0.3);
}

a:hover {
	color: rgba(0, 106, 238, 1);
	text-decoration-color: rgba(0, 106, 238, 1);
}

a:visited {
	color: rgba(1, 67, 150, 1);
	text-decoration-color: rgba(1, 67, 150, 0.3);
}

.logo {	
	.logo-main {
		font-size: 4rem;
		margin-bottom: 0.1em;
		line-height: 0.5em;

		.logo-main-noEmphasis {
			font-weight: 100;
		}
	}

	.logo-tagline {
		margin-top: 0.4rem;
	}
}

.entry {
	@include fluid-type(width, 20rem, 158.75rem, 20rem, 84.72rem);
	.entry-info {
		.entry-info-title {
			@include fluid-type(font-size, 20rem, 158.75rem, 1.929rem, 3.333rem);
		}
		.entry-info-subTitle {
		}
	}
	.entry-body {
		.entry-body-text {
			// font-size: calc( 1rem + (4.236 - 1) * (100vw - 20rem) / (37.5 - 20) );
			@include fluid-type(font-size, 20rem, 158.75rem, 1.2rem, 2.074rem);
		}
	}	
}

.social {
	.social-links {
		list-style-type: none;
    	padding-left: 0rem;
	}
	.social-links-item {
		display: inline-block;
	}
}