*, *::before, *::after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  margin: 0; }

/* Fix some Headings behaviours
******************************/
h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1.00rem; }

h5 {
  font-size: 0.83rem; }

h6 {
  font-size: 0.67rem; }

h1 {
  margin: 0.67em 0; }

/* Fix some typography behaviours
********************************/
pre {
  white-space: pre-wrap; }

hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible; }

/* Fix Embedded Elements behaviours
**********************************/
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
  max-width: 100%; }

img, svg, video, canvas {
  height: auto; }

audio {
  width: 100%; }
