html {
  font-size: 16px; }

body {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

a {
  color: #006aee;
  text-decoration-color: rgba(0, 106, 238, 0.3); }

a:hover {
  color: #006aee;
  text-decoration-color: #006aee; }

a:visited {
  color: #014396;
  text-decoration-color: rgba(1, 67, 150, 0.3); }

.logo .logo-main {
  font-size: 4rem;
  margin-bottom: 0.1em;
  line-height: 0.5em; }
  .logo .logo-main .logo-main-noEmphasis {
    font-weight: 100; }

.logo .logo-tagline {
  margin-top: 0.4rem; }

.entry {
  width: 20rem; }
  @media (min-width: 20rem) {
    .entry {
      width: calc(20rem + 64.72 * (100vw - 20rem) / 138.75); } }
  @media (min-width: 158.75rem) {
    .entry {
      width: 84.72rem; } }
  .entry .entry-info .entry-info-title {
    font-size: 1.929rem; }
    @media (min-width: 20rem) {
      .entry .entry-info .entry-info-title {
        font-size: calc(1.929rem + 1.404 * (100vw - 20rem) / 138.75); } }
    @media (min-width: 158.75rem) {
      .entry .entry-info .entry-info-title {
        font-size: 3.333rem; } }
  .entry .entry-body .entry-body-text {
    font-size: 1.2rem; }
    @media (min-width: 20rem) {
      .entry .entry-body .entry-body-text {
        font-size: calc(1.2rem + 0.874 * (100vw - 20rem) / 138.75); } }
    @media (min-width: 158.75rem) {
      .entry .entry-body .entry-body-text {
        font-size: 2.074rem; } }

.social .social-links {
  list-style-type: none;
  padding-left: 0rem; }

.social .social-links-item {
  display: inline-block; }
