/* Single property */
html {
  font-size: 14px; }
  @media (min-width: 320px) {
    html {
      font-size: calc(14px + 4 * (100vw - 320px) / 1046); } }
  @media (min-width: 1366px) {
    html {
      font-size: 18px; } }

/* Multiple properties with same values */
h1 {
  padding-bottom: 2em;
  padding-top: 2em; }
  @media (min-width: 20em) {
    h1 {
      padding-bottom: calc(2em + 2 * (100vw - 20em) / 50);
      padding-top: calc(2em + 2 * (100vw - 20em) / 50); } }
  @media (min-width: 70em) {
    h1 {
      padding-bottom: 4em;
      padding-top: 4em; } }

html {
  font-size: 16px; }

body {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

a {
  color: #006aee;
  text-decoration-color: rgba(0, 106, 238, 0.3); }

a:hover {
  color: #006aee;
  text-decoration-color: #006aee; }

a:visited {
  color: #014396;
  text-decoration-color: rgba(1, 67, 150, 0.3); }

.logo .logo-main {
  font-size: 4rem;
  margin-bottom: 0.1em;
  line-height: 0.5em; }
  .logo .logo-main .logo-main-noEmphasis {
    font-weight: 100; }

.logo .logo-tagline {
  margin-top: 0.4rem; }

.entry .entry-body .entry-body-text {
  font-size: 1rem; }
  @media (min-width: 20rem) {
    .entry .entry-body .entry-body-text {
      font-size: calc(1rem + 3.236 * (100vw - 20rem) / 17.5); } }
  @media (min-width: 37.5rem) {
    .entry .entry-body .entry-body-text {
      font-size: 4.236rem; } }

.social .social-links {
  list-style-type: none;
  padding-left: 0rem; }

.social .social-links-item {
  display: inline-block; }
