/* Single property */
html {
  font-size: 14px; }
  @media (min-width: 320px) {
    html {
      font-size: calc(14px + 4 * (100vw - 320px) / 1046); } }
  @media (min-width: 1366px) {
    html {
      font-size: 18px; } }

/* Multiple properties with same values */
h1 {
  padding-bottom: 2em;
  padding-top: 2em; }
  @media (min-width: 20em) {
    h1 {
      padding-bottom: calc(2em + 2 * (100vw - 20em) / 50);
      padding-top: calc(2em + 2 * (100vw - 20em) / 50); } }
  @media (min-width: 70em) {
    h1 {
      padding-bottom: 4em;
      padding-top: 4em; } }
